html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.titulo, .katawan {
    text-align: center;
    font-family: 'Segoe UI';
}

.titulo {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
}

.titulo-ng-katawan {
    font-family: 'Segoe UI';
    font-size: 22px;
}

.katawan-ng-titulo {
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 35px;
}